# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [21]:
import pandas as pd
import numpy as np

# Seu código aqui
dados = [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]
variacaoTermica = pd.Series(dados)
variacaoTermica

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [22]:
# seu código aqui
anos = [1900, 1920, 1940, 1960, 1980, 2000, 2020]
variacaoTermicaComAnos = pd.Series(dados, index=anos)
variacaoTermicaComAnos

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [23]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
variacaoTermicaDici = pd.Series(dic_temperaturas)
variacaoTermicaDici

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [24]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui
pd.DataFrame(arr)

             0           1           2
0    99.841656   88.853712  107.549055
1   102.279980   92.179721   88.161313
2    98.931704   97.713543  100.746472
3    94.642232   96.393604   96.707040
4    91.509155   92.462368  104.300263
5   102.070364  102.455608  117.911375
6   106.268478  109.576417  113.875416
7    98.879322   80.814643  113.467079
8   121.453860  101.656232  112.365109
9    88.320515   94.212881  113.736222
10   84.452379  103.699604  105.989902
11  108.398273   83.337151   96.576143
12   98.260315   97.872839   89.833844
13   88.329996  100.618600   83.050550
14  101.483172   95.518050  122.003081
15  102.191636   88.761103   93.383170
16   99.991743  101.727490   91.284692
17  107.359243  110.482251  100.435827
18  101.186783   77.920118   96.405338
19  124.856635  107.773725   93.246305

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [25]:
#seu código aqui
indices = [i for i in range(1, 21)]
colunas = ["x1", "x2", "x3"]

dfArr = pd.DataFrame(data=arr, index=indices, columns=colunas)
dfArr

            x1          x2          x3
1    99.841656   88.853712  107.549055
2   102.279980   92.179721   88.161313
3    98.931704   97.713543  100.746472
4    94.642232   96.393604   96.707040
5    91.509155   92.462368  104.300263
6   102.070364  102.455608  117.911375
7   106.268478  109.576417  113.875416
8    98.879322   80.814643  113.467079
9   121.453860  101.656232  112.365109
10   88.320515   94.212881  113.736222
11   84.452379  103.699604  105.989902
12  108.398273   83.337151   96.576143
13   98.260315   97.872839   89.833844
14   88.329996  100.618600   83.050550
15  101.483172   95.518050  122.003081
16  102.191636   88.761103   93.383170
17   99.991743  101.727490   91.284692
18  107.359243  110.482251  100.435827
19  101.186783   77.920118   96.405338
20  124.856635  107.773725   93.246305

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [26]:
# seu código aqui
dfArr["media"] = (dfArr["x1"] + dfArr["x2"] + dfArr["x3"]) / 3
dfArr

            x1          x2          x3       media
1    99.841656   88.853712  107.549055   98.748141
2   102.279980   92.179721   88.161313   94.207005
3    98.931704   97.713543  100.746472   99.130573
4    94.642232   96.393604   96.707040   95.914292
5    91.509155   92.462368  104.300263   96.090596
6   102.070364  102.455608  117.911375  107.479116
7   106.268478  109.576417  113.875416  109.906770
8    98.879322   80.814643  113.467079   97.720348
9   121.453860  101.656232  112.365109  111.825067
10   88.320515   94.212881  113.736222   98.756539
11   84.452379  103.699604  105.989902   98.047295
12  108.398273   83.337151   96.576143   96.103856
13   98.260315   97.872839   89.833844   95.322333
14   88.329996  100.618600   83.050550   90.666382
15  101.483172   95.518050  122.003081  106.334768
16  102.191636   88.761103   93.383170   94.778636
17   99.991743  101.727490   91.284692   97.667975
18  107.359243  110.482251  100.435827  106.092440
19  101.186783   77.920118   96.405338   91.837413
20  124.856635  107.773725   93.246305  108.625555

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [27]:
# seu código aqui
dfArr["log_med"] = np.log(dfArr["media"])
dfArr

            x1          x2          x3       media   log_med
1    99.841656   88.853712  107.549055   98.748141  4.592573
2   102.279980   92.179721   88.161313   94.207005  4.545495
3    98.931704   97.713543  100.746472   99.130573  4.596438
4    94.642232   96.393604   96.707040   95.914292  4.563455
5    91.509155   92.462368  104.300263   96.090596  4.565291
6   102.070364  102.455608  117.911375  107.479116  4.677297
7   106.268478  109.576417  113.875416  109.906770  4.699632
8    98.879322   80.814643  113.467079   97.720348  4.582110
9   121.453860  101.656232  112.365109  111.825067  4.716936
10   88.320515   94.212881  113.736222   98.756539  4.592658
11   84.452379  103.699604  105.989902   98.047295  4.585450
12  108.398273   83.337151   96.576143   96.103856  4.565429
13   98.260315   97.872839   89.833844   95.322333  4.557264
14   88.329996  100.618600   83.050550   90.666382  4.507187
15  101.483172   95.518050  122.003081  106.334768  4.666592
16  102.191636   88.761103   93.383170   94.778636  4.551544
17   99.991743  101.727490   91.284692   97.667975  4.581574
18  107.359243  110.482251  100.435827  106.092440  4.664311
19  101.186783   77.920118   96.405338   91.837413  4.520020
20  124.856635  107.773725   93.246305  108.625555  4.687907